<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="addressList.length > 0">
    <ion-card *ngFor="let list of addressList">
      <ion-card-header>
        <ion-card-subtitle>{{ list.full_name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ list.address1 + " " + list.address2 + " " + list.city + " , " + list.state + " , " + list.country + " , Pincode: " + list.zipcode }}
      </ion-card-content>
      <ion-button *ngIf="list.status=='0'" expand="block" fill="outline" color="danger" (click)="setDefaultAddrees(list.address_id)">Make Default</ion-button>
      <ion-button expand="block" *ngIf="list.status=='0'" fill="outline" color="danger" (click)="delAddrees(list.address_id)">Remove</ion-button>
    </ion-card>
  </div>
  <!-- <div *ngIf="addressList.length === 0">
    No Data Found
  </div> -->
  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" color="danger" (click)="addAddress()">Add Address</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
