<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="fs-26" name="cart-outline"></ion-icon><span class="qty">1</span>
    </ion-buttons>
    <ion-title>Product details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  
  <ion-slides pager="true" class="slide-bg" [options]="slidePerViewOpts" *ngIf="imgList.length > 0">
    <!-- <ion-slide>
      <div class="slide">
        <img src="assets/images/pro1.jpg" />
      </div>
    </ion-slide> -->

    <ion-slide *ngFor="let img of imgList | keyvalue; let i = index;">
      <div class="slide">
        <img src="{{imagePath + img.value.path}}" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p no-margin class="ellipsis fs-16 txt-danger" text-center>{{ title }}</p>
        <h4 no-margin class="ellipsis fs-20 fw-600 spacing1 pdb-2 uppercase" text-center>Rs. {{ salePrice }}</h4>
        <p no-margin class="fs-12" text-center>{{ description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="addToCart(prId,title,salePrice)">Add Cart</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="danger" (click)="buyNow(prId,title,salePrice)">Buy Now</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>