
<ion-header class="parallax-obj parallax-translate-obj header-transparent">
	<ion-toolbar>
	  <ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
		<ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
	  </ion-buttons>
	  <ion-title>Product List</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen common-parallax [scrollEvents]="true">
		
	
	<div class="wrap-gallery-info pd-10">
	   <ion-searchbar show-cancel-button cancel-button-text="Really Long Cancel" color="danger">
		</ion-searchbar>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon1.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/1.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase" text-center>Rs. 8500</h4>
			<p no-margin class="ellipsis fs-12" text-center>Shirt</p>
		</div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon2.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/2.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon3.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/3.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 17800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon4.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/8.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 1800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon5.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/9.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 11800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon6.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/4.jpeg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon7.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/5.jpeg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon8.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/6.jpeg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon9.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/9.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
			<ion-button expand="block" color="danger">Buy Now</ion-button>
		</div>
	  </div>
	  <div class="element-gallery pd-5">
		<div (click)="viewImg('lemon10.png')" class="wrap-element shadow-2">
		  <div class="thumb-view">
			<img src="assets/images/groce/9.jpg">
		  </div>
		  <div class="pd-10 txt-info txt-danger">
			<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">Rs. 15800</h4>
			<p no-margin class="ellipsis fs-12">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
		  </div>
		</div>
		<div  class="wrap-element shadow-2">
				<ion-button expand="block" color="danger">Buy Now</ion-button>
			</div>
	  </div>
	</div>
  
  </ion-content>
  