
<ion-header class="parallax-obj parallax-translate-obj header-transparent">
	<ion-toolbar>
	  <ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
		<ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
	  </ion-buttons>
	  <ion-title>Product List</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen common-parallax [scrollEvents]="true">
		
	
	<div class="wrap-gallery-info pd-10">
	  <ion-searchbar show-cancel-button cancel-button-text="Really Long Cancel" color="danger">
		</ion-searchbar>
		<div *ngIf="productList.length > 0">
		<div class="element-gallery pd-5" *ngFor="let item of productList | keyvalue; let i = index;">
			<div (click)="viewImg('lemon1.png')" class="wrap-element shadow-2">
				<div class="thumb-view">
					<img src="{{item.value.image_path + item.value.img_list[0].path_sm}}">
				</div>
				<div class="pd-10 txt-info txt-danger">
					<h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase" text-center>Rs. {{item.value.sale_price}}</h4>
					<p no-margin class="ellipsis fs-12" text-center>{{item.value.title}}</p>
				</div>
			</div>
			<div  class="wrap-element shadow-2">
				<ion-button expand="block" color="danger" (click)="addToCart(item.value.product_id,item.value.title,item.value.sale_price)">Add Cart</ion-button>
			</div>
		</div>
		</div>
	</div>
  
  </ion-content>
  