<ion-toolbar>
  <ion-tabs>
      <ion-tab-bar slot="bottom" color="matte">
        <ion-tab-button>
          <ion-icon name="ios-home" color="medium" (click)="goHome()"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon name="ios-power" color="medium" (click)="logout()"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon name="ios-contact" color="medium" (click)="goProfile()"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
</ion-toolbar>