
<ion-header class="parallax-obj parallax-translate-obj header-transparent">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      <ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title>Category List</ion-title>
    </ion-toolbar>
    </ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
  	

  <div class="wrap-gallery-info pd-10">
    <ion-searchbar show-cancel-button cancel-button-text="Really Long Cancel" color="danger">
    </ion-searchbar>
    <div *ngIf="categoryList.length > 0">
      <div class="element-gallery pd-5" *ngFor="let item of categoryList | keyvalue; let i = index;">
        <div (click)="viewImg('lemon1.png')" class="wrap-element shadow-2">
          <div class="thumb-view">
            <img src="{{imgPath +'level1/'+ item.value.icon}}">
          </div>
          <div class="pd-10 txt-info txt-dark">
            <h4 no-margin class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase">{{item.value.name}}</h4>
          </div>
        </div>
      </div>
    </div>  
  </div>

</ion-content>
